<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <title>Create Rate File</title>
</head>
<body>
    <div id="content">
        <div th:replace="header"></div>
        <h2>Create New Rate File</h2>
        <form th:action="@{/files/create}" th:object="${file_dto}" method="post">
            <table class="input-table">
                <tr>
                    <td>File name:</td>
                    <td><input type="text" th:class="'input-field'" th:field="*{file_name}"/></td>
                </tr>
                <tr>
                    <td>Currency:</td>
                    <td>
                        <select th:field="*{currency_id}" th:class="'input-field'">
                            <option th:each="curr : ${currencies}"
                                    th:value="${curr.id}"
                                    th:text="${curr.name}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Period:</td>
                    <td>
                        <select th:field="*{period_id}" th:class="'input-field'">
                            <option th:each="period : ${periods}"
                                    th:value="${period.id}"
                                    th:text="${period.name}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" class="input-button" value="Add Rate File"/>
                        <input type="reset" class="input-button" value="Clear"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
